<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Example App</title>
  <link rel="stylesheet" href="styles.css">
  <style>
    h1 {color: #FFFFFF}
  </style>
</head>
<body bgcolor = "black">
  <div class="container">
  {{{body}}}
</div>
</body>
<footer>
    <style>
    .footer {
        position: relative;
        color: #FFFFFF;
        text-align: center;
        font-size: 5;
        padding-top: 50px;
    }
    </style>
    <div class="footer">
        <p> &copy2018 Sayema Islam, Make School.</p>
        <p>All Rights Reserved. </p>
    </div>
</footer>
</html>
